.movie-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 auto;
}

.loading {
    text-align: center;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.no-content {
    text-align: center;
    margin-top: 150px;
}

.main-content {
    text-align: left;
}

.main-content h1 {
    font-weight: 400;
    font-size: 2.3em;
    margin-bottom: 50px;
}