.movie-card {
    background-color: #1E1E1E;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    height: auto;
    animation: fadeIn .4s ease-in-out;
    max-width: 200px;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.movie-card #poster {
    position: relative;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: block;
    transition: .2s ease-in-out;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/3;
}

.movie-card .likeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px white solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 99;
}

.movie-card .movie-details {
    text-align: left;
    padding: 10px 10px;
    height: fit-content;
}

.movie-card .movie-details h4{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.movie-card .movie-details span {
    font-size: .8em;
}

.movie-card:hover .likeBtn {
    visibility: visible;
}

.movie-card:hover #poster {
    opacity: 0.2;
}

.likeIcon{
    transition: .2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .movie-card {
        width: 100%
    }

    .movie-card #poster {
        margin-bottom: 0;
    }

    .movie-card .movie-details {
        padding: 5px;
    }

    .movie-card .movie-details h4 {
        font-size: .8em;
    }

    .movie-card .movie-details span {
        font-size: .6em;
    }
}

@media (max-width: 576px) {
    .movie-card #poster {
        margin-bottom: 0;
    }

    .movie-card .movie-details {
        padding: 5px;
    }

    .movie-card .movie-details h4 {
        font-size: .8em;
    }

    .movie-card .movie-details span {
        font-size: .6em;
    }
}

@media (max-width: 375px) {
    .movie-card #poster {
        margin-bottom: 0;
    }

    .movie-card .movie-details {
        padding: 5px;
    }

    .movie-card .movie-details h4 {
        font-size: .8em;
    }

    .movie-card .movie-details span {
        font-size: .6em;
    }
}